[Unit]
Description=Counter-Strike: Global Offensive dedicated server [%i]
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/steam/conf/csgo/instance/%i/service_conf.env
ExecStart=/home/steam/run-csgo.sh %i
WorkingDirectory=/home/steam/csgo
User=steam
Group=steam
Restart=always

[Install]
WantedBy=multi-user.target
